<%= form_with(model: intervention, local: true) do |form| %>
  <%# <%= javascript_include_tag('intervention.js') %>
  
  <% if intervention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

      <ul>
      <% intervention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= form.label :author, "Your Employee ID:" %>
    <%= form.number_field :author%>
</div>

  <%#Customer dropdown list %>
  <div class="field">
    <%= form.label :customerID %>
  </div>
  <div class="field" id="customer">
    <%= form.select(:customerID) do %>
    <% @customer.each do |l| -%>
    <%= content_tag(:option, l.Company_Name, value: l.id) %>
    <% end %>
    <% end %>
  </div>

  <%#Building dropdown list %>
  <div class="field">
    <%= form.label :buildingID %>
    <div id = "building">
    </div>
  </div>
  <%= form.select(:buildingID) do %>
  <% @building.each do |l| -%>
  <%= content_tag(:option, l.id, value: l.id) %>
  <% end %>
  <% end %>

  <%#Battery dropdown list %>
  <div class="field">
    <%= form.label :batteryID %>
    <div id = "battery">
    </div>
  </div>
  <%= form.select(:batteryID) do %>
  <% @battery.each do |l| -%>
  <%= content_tag(:option, l.id, value: l.id) %>
  <% end %>
  <% end %>

  <%#Column dropdown list %>
  <div class="field">
    <%= form.label :column_ID %>
    <div id = "column">
    </div>
  </div>
  <%= form.select(:columnID) do %>
  <% @column.each do |l| -%>
  <%= content_tag(:option, l.id, value: l.id) %>
  <% end %>
  <% end %>

  <%#Elevator dropdown list %>
  <div class="field">
    <%= form.label :elevatorID %>
    <div id = "column">
    </div>
  </div>
  <%= form.select(:elevatorID) do %>
  <option value="">==None==</option>
  <% @elevator.each do |l| -%>
  <%= content_tag(:option, l.id, value: l.id) %>
  <% end %>
  <% end %>

  <%#Employee dropdown list %>
  <div class="field">
    <%= form.label :employeeID %>
  </div>
  <div class="field" id="employee">
   
    <%= form.select(:employeeID) do %>
    <option value="">==None==</option>
    <% @employee.each do |l| -%>
    <%= content_tag(:option, l.first_name + " " + l.last_name, value: l.id) %>
    <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :report %>
    <%= form.text_area :report %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
function get_buildings() {
    console.log("jexiste////////////////////////////////////////////////////////////")
    var id_value_string = $(this).val();
    if (id_value_string == "") {
        $("select#intervention_buildingID option").remove();
        var row = "<option value=\"" + "" + "\">" + "Building" + "</option>";
        $(row).appendTo("#intervention_buildingID");
    } else {
        //Send the request and update building dropdown
        $.ajax({
            dataType: "json",
            cache: false,
            url: 'get_buildings/' + id_value_string,
            timeout: 5000,
            error: function (XMLHttpRequest, errorTextStatus, error) {
                alert("Failed to submit : " + errorTextStatus + " ;" + error);
            },
            success: function (data) {
                console.log("Im here")
                console.log(data)
                $("select#intervention_buildingID option").remove();
                //put in a empty default line
                // var row = "<option value=\"" + "" + "\">" + "Building" + "</option>";
                // $(row).appendTo("#intervention_building_id");
                // Fill building select
                $.each(data, function (i, j) {
                    row = "<option value=\"" + j.id + "\">" + j.id + "</option>";
                    $(row).appendTo("#intervention_buildingID");
                });
                $("select#intervention_buildingID option").change();
            }
        });
    }
}

function get_batteries() {
    console.log("test............................................................................................")
    var id_value_string = $(this).val();
    if (id_value_string == "") {
        $("select#intervention_batteryID option").remove();
        var row = "<option value=\"" + "" + "\">" + "Battery" + "</option>";
        $(row).appendTo("#intervention_batteryID");
    } else {
        //Send the request and update building dropdown
        $.ajax({
            dataType: "json",
            cache: false,
            url: 'get_batteries/' + id_value_string,
            timeout: 5000,
            error: function (XMLHttpRequest, errorTextStatus, error) {
                alert("Failed to submit : " + errorTextStatus + " ;" + error);
            },
            success: function (data) {
                $("select#intervention_batteryID option").remove();
                //put in a empty default line
                // var row = "<option value=\"" + "" + "\">" + "Building" + "</option>";
                // $(row).appendTo("#intervention_building_id");
                // Fill building select
                $.each(data, function (i, j) {
                    row = "<option value=\"" + j.id + "\">" + j.id + "</option>";
                    $(row).appendTo("#intervention_batteryID");
                });
                $("select#intervention_batteryID option").change();
            }
        });
    }
}

function get_columns() {
    var id_value_string = $(this).val();
    if (id_value_string == "") {
        $("select#intervention_columnID option").remove();
        var row = "<option value=\"" + "" + "\">" + "Column" + "</option>";
        $(row).appendTo("#intervention_columnID");
    } else {
        //Send the request and update building dropdown
        $.ajax({
            dataType: "json",
            cache: false,
            url: 'get_columns/' + id_value_string,
            timeout: 5000,
            error: function (XMLHttpRequest, errorTextStatus, error) {
                alert("Failed to submit : " + errorTextStatus + " ;" + error);
            },
            success: function (data) {
                $("select#intervention_columnID option").remove();
                //put in a empty default line
                // var row = "<option value=\"" + "" + "\">" + "Building" + "</option>";
                // $(row).appendTo("#intervention_building_id");
                // Fill building select
                $.each(data, function (i, j) {
                    row = "<option value=\"" + j.id + "\">" + j.id + "</option>";
                    $(row).appendTo("#intervention_columnID");
                });
                $("select#intervention_columnID option").change();
            }
        });
    }
}

function get_elevators() {
    var id_value_string = $(this).val();
    if (id_value_string == "") {
        $("select#intervention_elevatorID option").remove();
        var row = "<option value=\"" + "" + "\">" + "Elevator" + "</option>";
        $(row).appendTo("#intervention_elevatorID");
    } else {
        //Send the request and update building dropdown
        $.ajax({
            dataType: "json",
            cache: false,
            url: 'get_elevators/' + id_value_string,
            timeout: 5000,
            error: function (XMLHttpRequest, errorTextStatus, error) {
                alert("Failed to submit : " + errorTextStatus + " ;" + error);
            },
            success: function (data) {
                $("select#intervention_elevatorID option").remove();
                //put in a empty default line
                // var row = "<option value=\"" + "" + "\">" + "Building" + "</option>";
                // $(row).appendTo("#intervention_building_id");
                // Fill building select
                $.each(data, function (i, j) {
                    row = "<option value=\"" + j.id + "\">" + j.id + "</option>";
                    $(row).appendTo("#intervention_elevatorID");
                });
                $("select#intervention_elevatorID option").change();
            }
        });
    }
}

$("#intervention_customerID").change(get_buildings);
$("#intervention_buildingID").change(get_batteries);
$("#intervention_batteryID").change(get_columns);
$("#intervention_columnID").change(get_elevators);
</script>